<div class="posts" id="posts">
    <a hx-get="topics" hx-target="#posts">Back</a>
    <div class="title">{{title}}</div>
    <ul>
        {% for post in posts %}
        <li>{% include "post.html" %}</li>
        {% endfor %}
    </ul>
    <section>
        <details>
            <summary>Post new:</summary>
            <form hx-post="posts/{{topic_id}}" hx-target="#posts">
                <textarea name="post" rows="10" style="width:100%"></textarea>
                <button>Post</button>
            </form>
        </details>
    </section>
</div>
